.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-ctn {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.git-ic{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#topLink {
  position: absolute;
  right: 120px;
}


.home-h1 {
  font-weight: bolder;
  font-size: 6.5em;
  width: 500px;
  margin-bottom: 20px;
  
}

.home-text {
  font-size: 2rem;
  width: 1200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.avaBtn {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 8px;
  margin: 20px;
  width: 160px;
  border-radius: 4px;
  background-color: #5776b3;
  color: white;
  font-size: 19px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.avaBtn:active {
  background-color: #3d5990;
}

@media screen and (max-width: 1440px) {
  .home-h1 {
    font-size: 5em;
    width: 400px;
    margin-bottom: 20px;
  }
  .home-text {
    font-size: 20px;
    width: 900px;
  }
  .homePage-img {
    margin-top: 150px;
    max-width: 420px;
    max-height: 200px;
    float: right;
  
  }
  
}

@media screen and (max-width: 484px) {
  .home-h1 {
    font-size: 3em;
    width: 360px;
    margin-bottom: 20px;
  }
  .home-text {
    font-size: 20px;
    width: 360px;
  }
  .homePage-img {
    display: none;
  
  }
  
}